#postEvent > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
  gap: 3em;
  width: 100%;
}

#postEvent > div {
  margin-top: 10em;
}
